#maximal read length
max_rd_len=150

[LIB]

#average insert size
avg_ins=300

#if sequence needs to be reversed
reverse_seq=0

#in which part(s) the reads are used
asm_flags=3

# use only first 100 bps of each read #is the length to which the reads are trimmed to.
# usually it is given based on the data quality, the value I use is the length of the longest-read so that no reads are trimmed further.
rd_len_cutoff=151

#in which order the reads are used while scaffolding
rank=1
# cutoff of pair number for a reliable connection (at least 3 for short insert size)
pair_num_cutoff=3
#minimum aligned length to contigs for a reliable read location (at least 32 for short insert size)
map_len=32
#a pair of fastq file, read 1 file should always be followed by read 2 file
q1=../clean-data/_U47.1.fq
q2=../clean-data/_U47.2.fq